# Ignore compeletely these file / folders
CMakeLists.txt
driver_common
geometry2
laser_proc
rosaria
slam_gmapping
urg_c
urg_node

# Ignore these folders but not the specified subfolders
/navigation/*
!/navigation/amcl

/tests/*
!/tests/scripts
!/tests/maps

