<launch>

  <param name="use_sim_time" value="true" />

  <arg name="bag_path"  default="$(find tests)/bags/"/>
  <arg name="map_path"  default="$(find tests)/maps/"/>
  <arg name="bag_name"  default="B14F10"/>   
  <arg name="map_name"  default="Map"/>  
  <arg name="rosbag_rate"  default="1" />
  <arg name="config_path"  default="$(find tests)/config/amcl.rviz"/>

  <!-- amcl parameters -->
  <arg name="update_min_d"        default="0.01" />
  <arg name="update_min_a"        default="0.063" />

  <arg name="recovery_alpha_slow" default="0.001" />
  <arg name="odom_model_type"     default="diff-corrected"/>
  <arg name="odom_alpha1"         default="0.005"/>
  <arg name="odom_alpha2"         default="0.005"/>
  <arg name="odom_alpha3"         default="0.010"/>
  <arg name="odom_alpha4"         default="0.005"/>




  <!-- Playback rosbag -->
  <node name="player" pkg="rosbag" type="play" output="screen" args="--clock --rate=$(arg rosbag_rate) $(arg bag_path)$(arg bag_name).bag"/>

  <!-- TF between the robot and the laser base -->
  <!-- TF between the robot and the laser base -->
  <node  name="tf_base_laser" pkg="tf" type="static_transform_publisher" args="0.08 0 0 0 0 0 /base_link /laser 1" />

  <!-- Processing nodes -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)$(arg map_name).yaml" />

  <node name="amcl" pkg="amcl" type="amcl">
    <rosparam command="load" file="$(arg bag_path)/initial_conditions/$(arg bag_name).yaml" />
    <param name="update_min_d"          value="$(arg update_min_d)" />
    <param name="recovery_alpha_slow"   value="$(arg recovery_alpha_slow)" />
        
    <param name="odom_model_type"   value="$(arg odom_model_type)"/>
    <param name="odom_alpha1"       value="$(arg odom_alpha1)"/>
    <param name="odom_alpha2"       value="$(arg odom_alpha2)"/>
    <param name="odom_alpha3"       value="$(arg odom_alpha3)"/>
    <param name="odom_alpha4"       value="$(arg odom_alpha4)"/>
    <param name="laser_model_type"  value="beam_range_finder_model"/>
    <remap from="/scan" to="/first"/>
  </node>

  <!-- Viewers -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d  $(arg config_path)"/>
</launch>
